<footer class="footer footer-dark">
  <div class="d-flex justify-content-between px-5">
    <div>ALL RIGHTS RESERVED BRS STUDIO 2022</div>
    <div>
      <button
        onclick="setTheme('#1A4B84')"
        class="theme-switch theme-switch-chathams_blue"
      ></button>
      <button
        onclick="setTheme('#991E14')"
        class="theme-switch theme-switch-tamarillo"
      ></button>
      <button
        onclick="setTheme('#FEAD06')"
        class="theme-switch theme-switch-yellow_sea"
      ></button>
    </div>
    <div>
      <img src="img/footer-logo.png" alt="logo" />
    </div>
  </div>
</footer>